@page "/sitemapitem/edit"
@page "/sitemapitem/edit/{SitemapItemId}"

@attribute [Authorize]

@inject IMediator mediator
@inject IMapper mapper
@inject ISnackbar snackbar

<h3>Edit Sitemap Item</h3>

<div style="max-width: 1000px;">
    @if (model == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <MudCard>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mr-auto">Save</MudButton>
                    <MudButton Link="/sitemapitems" Variant="Variant.Outlined" Color="Color.Secondary" Class="mr-auto">Cancel</MudButton>
                </MudCardActions>
            </MudCard>
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Relative Path" HelperText="Relative Path in sitemap"
                                  @bind-Value="model.RelativePath" For="@(() => model.RelativePath)" />


                    <MudDatePicker Label="Last Modified Date" Editable="true" @bind-Date="model.LastModified" HelperText="Select date to display as Last Modified" />

                </MudCardContent>


            </MudCard>

        </EditForm>
    }
</div>

@code {

    private AlterSitemapItem.Command model { get; set; }

    [Parameter]
    public string SitemapItemId { get; set; }

    protected override async Task OnInitializedAsync()
    {

        if (SitemapItemId == null)
        {
            model = new AlterSitemapItem.Command();
        }
        else
        {
            var results = await mediator.Send(new GetSitemapItem.Query(Guid.Parse(SitemapItemId)));
            model = mapper.Map<AlterSitemapItem.Command>(results.Data);
        }
    }


    private async Task OnValidSubmit(EditContext context)
    {

        var response = await mediator.Send(model);
        model.Id = model.Id ?? response.Data.Id;
        snackbar.Add("Content Saved.", Severity.Normal, (options) =>
        {
            options.CloseAfterNavigation = true;
        });

        StateHasChanged();
    }

}