@using blastcms.ArticleScanService

@inject IMediator  Mediator

<form @onsubmit="AddScannedUrl">
    <input placeholder="Url To Scan" @bind="UrlToScan" autofocus=""> <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mr-auto">Add</MudButton>
</form>

@code {

    [Parameter] public EventCallback OnSubmit { get; set; }

    private string UrlToScan;

    private async Task AddScannedUrl()
    {
        var command = new ScanAndAddUrlToFeed.Command(UrlToScan);

        UrlToScan = null;

        var result = await Mediator.Send(command);

        await OnSubmit.InvokeAsync();

    }
}
